{% block style %}
<style>
  /* Sidebar Menu */
  
  @import "{{ frappe.get_url()}}:8080/assets/SBAdmin/css/styles.css";
  /* Main Window Styles */
  @import "{{ frappe.get_url()}}:8080/assets/SingleAdmin/css/datatables.css";
  @import "{{ frappe.get_url()}}:8080/assets/SingleAdmin/fontawesome_5.15.1/css/all.min.css";
  @import "{{ frappe.get_url()}}:8080/assets/SingleAdmin/css/weather-icons.min.css";
  @import "{{ frappe.get_url()}}:8080/assets/SingleAdmin/css/weather-icons-wind.min.css";
  
  @import "{{ frappe.get_url()}}:8080/assets/SingleAdmin/css/main.css";
  @import "{{ frappe.get_url()}}:8080/assets/SingleAdmin/css/font-style.css";
  
  @import "{{ frappe.get_url()}}:8080/assets/css/frappe_charts.min.css"
  
  html, body {
    margin: auto;
    -webkit-text-size-adjust: 100%;
  }
  .page-breadcrumbs {
    visibility: hidden;
  }
  @media only screen and (max-width: 992px) {
    .container-fluid {
      margin: 0px;
      padding: 0px;
    }
  } 
</style>
{% endblock %}

{% block content %}
  <div class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand bg-light">
      <a class="navbar-brand text-primary" href="{{ frappe.get_url()}}:8080/"><b>Inicio</b></a>
      <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href=""><i class="fa fa-bars"></i></button>
    </nav>
    <div id="layoutSidenav">
      <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
          <div class="sb-sidenav-menu">
            {% if frappe.session.user != 'Guest' %}
            <div class="nav">
              <div class="sb-sidenav-menu-heading">Admin</div>
              <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts" style="font-weight: 450;">
                <div class="sb-nav-link-icon"><i class="fa fa-columns"></i></div>
                Layouts
                <div class="sb-sidenav-collapse-arrow"><i class="fa fa-angle-down"></i></div>
              </a>
              <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                <nav class="sb-sidenav-menu-nested nav">
                  <a class="nav-link" href="{{ frappe.get_url()}}:8080/desk" style="font-weight: 450;">
                    <div class="sb-nav-link-icon"><i class="fa fa-server"></i></div>
                    Desktop
                  </a>
                  <a class="nav-link" href="?cmd=web_logout" style="font-weight: 450;">
                    <div class="sb-nav-link-icon"><i class="fas fa-sign-out-alt"></i></div>
                    Logout
                  </a>
                </nav>
              </div>
              <div class="sb-sidenav-menu-heading">Sensor Group</div>
                  <a class="nav-link" href="pibigeneral" style="font-weight: 450;">
                    <div class="sb-nav-link-icon"><i class="fa fa-cog"></i></div>
                    Pibi<b>G</b>eneral
                  </a>
                  <a class="nav-link" href="pibifarma" style="font-weight: 450;">
                    <div class="sb-nav-link-icon"><i class="fa fa-medkit"></i></div>
                    Pibi<b>F</b>arma
                  </a>
                  <a class="nav-link" href="pibicasa" style="font-weight: 450;">
                    <div class="sb-nav-link-icon"><i class="fa fa-home"></i></div>
                    Pibi<b>C</b>asa
                  </a>
                  <a class="nav-link" href="pibiassistant" style="font-weight: 450;">
                    <div class="sb-nav-link-icon"><i class="fa fa-bolt"></i></div>
                    Pibi<b>A</b>ssistant
                  </a>
              </div>
            <div class="small m-2 p-2">Logged in as<br><b>{{ frappe.session.user }}</b></div>
            {% else %}
            <div class="small m-2 p-2">User must be Authenticated</div>
            {% endif %}
          </div>
        </nav>
      </div>
 
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
  <script src="{{ frappe.get_url()}}:8080/assets/SingleAdmin/fontawesome_5.15.1/js/all.min.js"></script>
  <script src="{{ frappe.get_url()}}:8080/assets/SBAdmin/js/scripts.js"></script>
  
  <script type="text/javascript" src="{{ frappe.get_url()}}:8080/assets/SingleAdmin/js/datatables.js"></script>
  <script src="{{ frappe.get_url()}}:8080/assets/js/frappe_charts.min.js"></script>
{% endblock %}
