{# {% extends "templates/web.html" %} #}
{% include 'templates/page_sidebar.html' %}
{% block page_content %}
  <style>
  td {
      font-size: 10pt;
    }
    table thead tr {
	    background:#cdcdcd;
	    height: 21px; 
    }
    table thead th {
	    border-right: 1px solid #ccc;
	    color: #1897ba;
	    font-size: 12px; 
    }
    table thead th:last-of-type { border-right: none; }
    table tbody {
	    border-top: 1px solid #bbb;
	    border-bottom: 1px solid #bbb;
    }
    table td { padding: 0; border-right: 1px solid #ccc;}
    table tbody tr:hover { background-color: #ddd; }
    #sensors_info.dataTables_info {
      padding-top: 0;
    }
    .btn {
      padding: 2px;
      margin-left: 2px;
      min-width: 30px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
    }
    .page-link, .page-item {
      padding: 1px 1px;
      margin: 1px;
    }
    .bottom {
      margin-top: 0px;
    }
    .sorting_1 {
      color: #4682b4;
    }
    p .third-unit {
      font-size: 8pt;
      font-weight: 90;
    }
    .card, .dash-unit, .half-unit, .third-unit, .twothird-unit {
      border-radius: 9px;
    }
    .card {
      border: 2px solid #85879669;
      background: #f8f9fc;
    }
    .card-header {
      font-size: 11pt;
      text-align: center;
    }
   .video {
      position: absolute;
      top: 28px;
      left: 0;
      width: 100%;
      height: 100%;
    }
    /*.chart-container .graph-svg-tip {
      display: none;
    }*/
    .sensor-chart .chart-container ul {
      display: flex;
      font-size: 8pt;
      /*background: #202020;*/
      margin-bottom: 0;
      margin-left: 72px;
      margin-right: 54px;
      list-style-type: none;
      padding: 0;
      text-align: center;
      z-index: 10;
    }
    .sensor-chart .title  {
      fill: #c258f1;
      font-weight: 600;
    }
    .sensor-chart .legend-dataset-text, .sensor-chart g text {
      fill: #212121;
    }
    .sensor-chart .title {
      font-size: 9pt;
      margin-left: 69px;
    }
    .sensor-chart svg {
      position: absolute;
      top: 90px;
    }  </style>
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid">
        {% if frappe.session.user != 'Guest' %}
        <h1 class="mt-4 text-primary"><i class="info-user li_settings fs2"></i><b>{{ name }}</b></h1>
        <i class="info-user li_calendar fs1"></i><big>{{ timestamp_to_date(weather.current.dt) }}</big>
        <p>
          <small>
          
          </small>
        </p>  
        <div class="row">
          <!-- Second Row -->
          <div class="col-lg-3 col-md-3 p-2 m-0">
            <div class="card mb-2">
              <div class="half-unit">
      		      <dtitle>CPUs</dtitle>
      		      <hr>
			          <div class="cont info-user p-0 m-0">
                  <a href="{{ frappe.get_url() }}:8080/desk#List/Sensor?sensor_group={{ name }}" target="_blank"><span aria-hidden="true" class="li_display fs1 mb-0 pb-0"></span></a>
			            <p><bold style="font-size: 36px;">{{ sensor_doc | selectattr('disabled', 'equalto', 0) | list | length }}</bold> <ok>on</ok> |
					        <bold style="font-size: 36px;">{{ sensor_doc | selectattr('disabled', 'equalto', 1) | list | length }}</bold> <bad>off</bad></p>                
			          </div>
                <p class="mb-1 pb-0 mr-1" style="position: absolute; bottom: 0px; right: 0px;">CPU Positions</p>                
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 p-2 m-0">
            <div class="card mb-2">
              <div class="half-unit">
      		      <dtitle>Daily Notifications</dtitle>
	      		    <hr>
                <div class="accordion" id="alert_log">
                  {% for val in alert_logs %}
                  {% set idx = val.alert_item | length - 1 %}
                  <div class="accordion-group">
                    <div class="accordion-heading">
                      <a class="accordion-toggle m-2" data-toggle="collapse" data-parent="#alert_log" href="#collapse{{ loop.index }}">
                         
                       {% if val.alert_item[idx].to_time == None %}
                         <span aria-hidden="true" class="li_eye text-danger"></span> <small class="text-danger"></small>
                       {% else %}
                         <span aria-hidden="true" class="li_lock text-success"></span> <small class="text-success"></small> 
                       {% endif %}
                       {{ val.name }}
                      <a>
                    </div>
                    <div id="collapse{{ loop.index }}" class="accordion-body collapse in">
                      <div class="accordion-inner">
                      {% if val.alert_item[idx].to_time == None %}
                         <a href="{{ frappe.get_url() }}:8080/desk#List/Alert Log?name={{val.name}}" target="_blank">Alert</a> <small>{{val.alert_item[idx].variable}} @{{val.alert_item[idx].value}}</small> from <strong>{{ frappe.format(val.alert_item[idx].from_time, {'fieldtype': 'Time'})}}</strong>
                      {% else %}
                         <a href="{{ frappe.get_url() }}:8080/desk#List/Alert Log?name={{val.name}}" target="_blank">Alert</a> <small>{{val.alert_item[idx].variable}}</small> at <strong>{{ frappe.format(val.alert_item[idx].to_time, {'fieldtype': 'Time'})}}</strong>
                      {% endif %}  
                      </div>   
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 p-2 m-0">
            <div class="card mb-2">
              <div class="half-unit">
      		      <dtitle>Daily Alerts</dtitle>
	      		    <hr>
                <div class="info-user">
                  <a href="{{ frappe.get_url() }}:8080/desk#List/Alert Log?name={{ frappe.utils.get_datetime(frappe.utils.nowdate()).strftime('%y%m%d') }}" target="_blank"><span aria-hidden="true" class="li_news fs1 mb-0 pb-0"></span></a>
					        <p><bold style="font-size: 36px;">{{ alert_logs | length }}</bold> <bad style="font-size: 9pt;">alerts</bad></p>
                </div>
                <p class="mb-1 pb-0 mr-1" style="position: absolute; bottom: 0px; right: 0px;">Sensor Alerts</p>              
              </div>
            </div>
          </div>
          <!-- First Row -->
          <div class="col-lg-3 col-md-3 p-2 m-0">
            <div class="card mb-2">
              <div class="third-unit">
      		      <dtitle>Clients</dtitle>
      		      <hr>
			          <div class="cont info-user p-0 m-0">                                 
                  <a href="{{ frappe.get_url() }}:8080/desk#List/Client" target="_blank"><span aria-hidden="true" class="li_user fs1"></span></a>                            
                  <p><bold style="font-size: 36px;">{{ sensor_doc | map(attribute='client') | unique | list | length }}</bold> <ok>clients</ok></p>                
			          </div>
                <p class="mb-1 pb-0 mr-1" style="position: absolute; bottom: 0px; right: 0px;">Clients Accessible</p>                
              </div>
            </div>
            <div class="card mb-1">
              <div class="third-unit">
      		      <dtitle>Data Logs</dtitle>
      		      <hr>
			          <div class="cont info-user p-0 m-0">
                  <a href="{{ frappe.get_url() }}:8080/desk#List/Sensor Log/" target="_blank"><span aria-hidden="true" class="li_data fs1"></span></a>             
                  <p><bold>{{ sensor_logs | sum('points') }}</bold> <ok>meas</ok></p>                
			          </div>
                <p class="mb-1 pb-0 mr-1" style="position: absolute; bottom: 0px; right: 0px;">Logs from 00:00</p>                
              </div>
            </div>
          </div>
          <div class="col-lg-9 col-md-9 p-2 m-0">
            <div class="card mb-2">
              <div class="twothird-unit">
                <dtitle>Data</dtitle>
	              <hr class="mb-2">
                <table id="sensors" class="display compact cell-border responsive nowrap" width="100%" cellspacing="0" style="font-size: 10pt; z-index: 1; position: relative;">
                  <thead>
                    <tr>
                      <th>pos</th>
                      <th>chart</th>
                      <th>sensor</th>
                      <th>lan</th>
                      <th>cpu</th>
                      <th>mem</th>
                      <th>mem%</th>
                      <th>disk</th>
                      <th>disk%</th>
                      <th>uptime</th>
                      <th>lastmeas</th>
                      <th>wan</th>
                      <th>boots</th>
                      <th>client</th>
                    </tr>
                  </thead>
                  <tbody>  
                  {% for log in sensor_logs %}
                    {% set item_count = log.log_item | length -1 %}
                    {% set strpay = json.loads(log.log_item[item_count].payload) %}
                    <tr>
                      <td style="color: #b2c831;">{{ log.log_item[item_count].idx }}</small></td>
                      {% for chart in datasets %}
                        {% if log.sensor == chart.sensor %}                     
                          <td class="text-center">
                            <a href="#" class="btn btn-info btn-xs m-0 p-0" style="border-radius: 3px;" width="45px" type="button" onclick="get_chart({{ chart }});return(false);">
                              <i class="fas fa-chart-bar fa-inverse mx-1"></i>
                            </a>
                          </td>
                        {% endif %}
                      {% endfor %}
                      <td>{{ log.sensor }}</td>
                      <td>{{ strpay['ipnet'] }}</td>
                      <td>{{ '%0.1f'| format(log.log_item[item_count].value | float)  }} <small>{{ log.log_item[item_count].uom }}</small></td>
                      <td>{{ strpay.payload.mem.mem_total }}</td>
                      <td>{{ strpay.payload.mem.mem_pct }} <small>%</small></td>
                      <td>{{ strpay.payload.disk.disk_total }}</td>
                      <td>{{ strpay.payload.disk.disk_pct }} <small>%</small></td>
                      <td>{{ strpay.payload.uptime }}</td>
                      <td>{{ strpay.payload.datadate }}</td>
                      <td>{{ strpay.payload.ip_public }}</td>
                      <td>{{ strpay.payload.n_reboots }}</td>
                      <td>{{ strpay.payload.client }}</td>  
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
                <!--<p class="mb-1 pb-0 mr-1" style="position: absolute; bottom: 0px; right: 0px;">&copy; PibiCo 2020</p>-->  
              </div>
            </div>
          </div>
          <!-- Third Row -->
          <div class="col-lg-6 col-md-6 p-2 m-0">
            <div class="card mb-2">
              <div class="twothird-unit">
                <dtitle>CPU Chart</dtitle>
	      		    <hr>
      		      <div class="sensor-chart m-2 mb-0" id="cpu_chart"></div>   
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 p-2 m-0">
            <div class="card mb-2">
              <div class="twothird-unit">
                <dtitle>PibiCo Info</dtitle>
	      		    <hr>
      		      <div class="m-2 mb-0">
                  <a href="https://www.youtube.com/watch?v=bEFjRJGxheA">
                    <iframe style="min-height: calc(100vh/5); border-radius: 9px;" src="https://www.youtube.com/embed/bEFjRJGxheA" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" width="100%" frameborder="0"></iframe>
                   </a>
                   
                </div>
                <p class="mb-1 pb-0 mr-1" style="position: absolute; bottom: 0px; right: 0px;">&copy; PibiCo 2020</p>   
              </div>
            </div>
          </div>
          
  	      <div class="col-lg-5 col-md-5 p-2 m-0 mb-1">
            <div class="card mb-2">
	            <div class="dash-unit">
	    		      <dtitle>Current Weather</dtitle>
	      		    <hr class="pb-1 mb-1">
				        <i class="wi wi-owm-{{weather.current.weather.0.id}} pull-right info-user mr-3" style="font-size: 54px;"></i>
				        <p class="ml-2">
                  <i class="info-user li_location"></i> {{ weather.lat }}<sub>lat</sub> {{ weather.lon }}<sub>lon</sub>
                  <br>
                  <i class="info-user li_clock"></i> {{ timestamp_to_date(weather.current.dt) }}
                </p>
                <div class="weather-text">
				          <p class="p-0 m-0 mr-2 pull-right">
				            <b class="text-warning">{{ weather.current.weather.0.description }}</b><br>
                    feels like {{ weather.current.feels_like }} &deg;C 	
				          </p>
				          <p class="p-2 m-0 ml-2">
				            <i class="info-user fa fa-thermometer"></i>
				            Temp {{ weather.current.temp }} &deg;C
					          <br>
				            <i class="info-user fa fa-tint"></i>
                    Humidity {{ weather.current.humidity }} %
				            <br>
					          <i class="info-user fas fa-weight"></i>
                    P<small>sea level</small>  {{ weather.current.pressure }} hPa
					          <br>
				            <i class="info-user far fa-sun"></i>
                    Sunrise {{ timestamp_to_date(weather.current.sunrise) }}
                    <br> 				  
				            <i class="info-user far fa-moon"></i>
                    Sunset {{ timestamp_to_date(weather.current.sunset) }}
                    <br>
				            <i class="info-user wi wi-wind towards-{{ weather.current.wind_deg }}-deg"></i>
					          Wind {{ weather.current.wind_speed }} m/s
					          <br>
					          <i class="info-user fas fa-cloud-sun"></i>
                    Clouds {{ weather.current.clouds }} %
                    <br>
					          {% if weather.current.rain %}
					          <i class="info-user fa fa-bath"></i>
                    Rain {{ weather.current.rain['1h'] }} mm/h
					          {% endif %}  
				          </p>
				          <br>
                </div>
                {% if weather.alerts %} 				
				        <dtitle>Weather Alerts</dtitle>
				        <hr class="pb-1 mb-1">
				        <div class="accordion" id="weather_alert">
                  {% for alert in weather.alerts %}
                  <div class="accordion-group">
                    <div class="accordion-heading">
                      <a class="accordion-toggle m-2" data-toggle="collapse" data-parent="#weather_alert" href="#weather{{ loop.index }}">
                        <span aria-hidden="true" class="li_eye"></span>
                        {{ alert.event }}
                      </a>
                    </div>
                    <div id="weather{{ loop.index }}" class="accordion-body collapse in">
                      <div class="accordion-inner">
					              <p class="p-0 m-0 ml-2">
					                <small>By {{ alert.sender_name }}<br>
                           From {{ timestamp_to_date(alert.start) }} to {{ timestamp_to_date(alert.end) }}<br>
						               {{ alert.description }}
						              </small>
                        </p> 						 
                      </div>   
                    </div>
                  </div>
                  {% endfor %}
                </div>
				        {% else %}
				        <div class="cont">
				          <h6>No Weather Alert</h6>
				        </div>
				        {% endif %}
			        </div> 
            </div>
          </div>
		      <div class="col-lg-7 col-md-7 p-2 m-0 mb-1">
            <div class="card mb-1">
			        <div class="dash-unit">
      		      <dtitle>5d Ahead Weather</dtitle>
      		      <hr>
      		      <div class="framemail">
    			        <div class="window">
			              <ul class="mail">
                      <li>
			                  <i class="unread"></i>
						            <i class="info-user my-2 p-0 ml-2 wi wi-owm-{{ weather.daily.1.weather.0.id }} text-warning" style="position: absolute; top: 0px;"></i>
						            <p class="sender"><small>{{ timestamp_to_date(weather.daily.1.dt) }} <span class="text-warning">( {{ weather.daily.1.weather.0.main }} )</span></small></p>
						            <p class="message">
						              <b>Temp</b> <span class="forecast">{{ weather.daily.1.temp.day }}</span> &deg;C feels <span class="forecast">{{ weather.daily.1.feels_like.day }}</span> &deg;C <b>M/m</b> <small><span class="forecast">{{ weather.daily.1.temp.max }}</span> / <span class="forecast">{{ weather.daily.1.temp.min }} &deg;C</span></small><br>
						              <b>P</b> <span class="forecast">{{ weather.daily.1.pressure }}</span> hPa | <b>Humidity</b> <span class="forecast">{{ weather.daily.1.humidity }}</span> % | <b>Wind</b> <span class="forecast">{{ weather.daily.1.wind_speed }}</span> m/s<br>
						              <b>Forecast</b> <span class="text-warning">{{ weather.daily.1.weather.0.description }}</span><br>
						              {% if weather.daily.1.rain %}<b>Rain</b> <span class="forecast">{{ weather.daily.1.rain }}</span> mm/h | {% endif %}<b>Clouds</b> <span class="forecast">{{ weather.daily.1.clouds }}</span> %
						            </p>
			                  <div class="actions">
						              <a title="wind deg {{weather.daily.1.wind_deg}}&deg;"><i style="top: 5px;" class="info-user wi wi-wind towards-{{ weather.daily.1.wind_deg }}-deg mr-2"></i></a>
                          <a title="sunrise {{timestamp_to_date(weather.daily.1.sunrise)}}"><i class="info-user far fa-sun mr-1"></i></a>
			                    <a title="sunset {{timestamp_to_date(weather.daily.1.sunset)}}"><i class="info-user far fa-moon mr-1"></i></a>
			                    <a title="uvi {{weather.daily.1.uvi}}"><i class="info-user far fa-lightbulb mr-1"></i></a>
			                  </div>
                      </li>
					            <li>
			                  <i class="read"></i>
						            <i class="info-user my-2 p-0 ml-2 wi wi-owm-{{ weather.daily.2.weather.0.id }} text-warning" style="position: absolute; top: 0px;"></i>
						            <p class="sender"><small>{{ timestamp_to_date(weather.daily.2.dt) }} <span class="text-warning">( {{ weather.daily.2.weather.0.main }} )</span></small></p>
						            <p class="message">
						              <b>Temp</b> <span class="forecast">{{ weather.daily.2.temp.day }}</span> &deg;C feels <span class="forecast">{{ weather.daily.2.feels_like.day }}</span> &deg;C <b>M/m</b> <small><span class="forecast">{{ weather.daily.2.temp.max }}</span> / <span class="forecast">{{ weather.daily.2.temp.min }} &deg;C</span></small><br>
						              <b>P</b> <span class="forecast">{{ weather.daily.2.pressure }}</span> hPa | <b>Humidity</b> <span class="forecast">{{ weather.daily.2.humidity }}</span> % | <b>Wind</b> <span class="forecast">{{ weather.daily.2.wind_speed }}</span> m/s<br>
						              <b>Forecast</b> <span class="text-warning">{{ weather.daily.2.weather.0.description }}</span><br>
						              {% if weather.daily.2.rain %}<b>Rain</b> <span class="forecast">{{ weather.daily.2.rain }}</span> mm/h | {% endif %}<b>Clouds</b> <span class="forecast">{{ weather.daily.2.clouds }}</span> %
						            </p>
			                  <div class="actions">
						              <a title="wind deg {{weather.daily.2.wind_deg}}&deg;"><i style="top: 5px;" class="info-user wi wi-wind towards-{{ weather.daily.2.wind_deg }}-deg mr-2"></i></a>
                          <a title="sunrise {{timestamp_to_date(weather.daily.2.sunrise)}}"><i class="info-user far fa-sun mr-1"></i></a>
			                    <a title="sunset {{timestamp_to_date(weather.daily.2.sunset)}}"><i class="info-user far fa-moon mr-1"></i></a>
			                    <a title="uvi {{weather.daily.2.uvi}}"><i class="info-user far fa-lightbulb"></i></a>
			                  </div>
                      </li>
					            <li>
			                  <i class="unread"></i>
						            <i class="info-user my-2 p-0 ml-2 wi wi-owm-{{ weather.daily.3.weather.0.id }} text-warning" style="position: absolute; top: 0px;"></i>
						            <p class="sender"><small>{{ timestamp_to_date(weather.daily.3.dt) }} <span class="text-warning">( {{ weather.daily.3.weather.0.main }} )</span></small></p>
						            <p class="message">
						              <b>Temp</b> <span class="forecast">{{ weather.daily.3.temp.day }}</span> &deg;C feels <span class="forecast">{{ weather.daily.3.feels_like.day }}</span> &deg;C <b>M/m</b> <small><span class="forecast">{{ weather.daily.3.temp.max }}</span> / <span class="forecast">{{ weather.daily.3.temp.min }} &deg;C</span></small><br>
						              <b>P</b> <span class="forecast">{{ weather.daily.3.pressure }}</span> hPa | <b>Humidity</b> <span class="forecast">{{ weather.daily.3.humidity }}</span> % | <b>Wind</b> <span class="forecast">{{ weather.daily.3.wind_speed }}</span> m/s<br>
						              <b>Forecast</b> <span class="text-warning">{{ weather.daily.3.weather.0.description }}</span><br>
						              {% if weather.daily.3.rain %}<b>Rain</b> <span class="forecast">{{ weather.daily.3.rain }}</span> mm/h | {% endif %}<b>Clouds</b> <span class="forecast">{{ weather.daily.3.clouds }}</span> %
						            </p>
			                  <div class="actions">
						              <a title="wind deg {{weather.daily.3.wind_deg}}&deg;"><i style="top: 5px;" class="info-user wi wi-wind towards-{{ weather.daily.3.wind_deg }}-deg mr-2"></i></a>
                          <a title="sunrise {{timestamp_to_date(weather.daily.3.sunrise)}}"><i class="info-user far fa-sun mr-1"></i></a>
			                    <a title="sunset {{timestamp_to_date(weather.daily.3.sunset)}}"><i class="info-user far fa-moon mr-1"></i></a>
			                    <a title="uvi {{weather.daily.3.uvi}}"><i class="info-user far fa-lightbulb"></i></a>
			                  </div>
                      </li>
					            <li>
			                  <i class="read"></i>
						            <i class="info-user my-2 p-0 ml-2 wi wi-owm-{{ weather.daily.4.weather.0.id }} text-warning" style="position: absolute; top: 0px;"></i>
						            <p class="sender"><small>{{ timestamp_to_date(weather.daily.4.dt) }} <span class="text-warning">( {{ weather.daily.4.weather.0.main }} )</span></small></p>
						            <p class="message">
						              <b>Temp</b> <span class="forecast">{{ weather.daily.4.temp.day }}</span> &deg;C feels <span class="forecast">{{ weather.daily.4.feels_like.day }}</span> &deg;C <b>M/m</b> <small><span class="forecast">{{ weather.daily.4.temp.max }}</span> / <span class="forecast">{{ weather.daily.4.temp.min }} &deg;C</span></small><br>
						              <b>P</b> <span class="forecast">{{ weather.daily.4.pressure }}</span> hPa | <b>Humidity</b> <span class="forecast">{{ weather.daily.4.humidity }}</span> % | <b>Wind</b> <span class="forecast">{{ weather.daily.4.wind_speed }}</span> m/s<br>
						              <b>Forecast</b> <span class="text-warning">{{ weather.daily.4.weather.0.description }}</span><br>
						                {% if weather.daily.4.rain %}<b>Rain</b> <span class="forecast">{{ weather.daily.4.rain }}</span> mm/h | {% endif %}<b>Clouds</b> <span class="forecast">{{ weather.daily.4.clouds }}</span> %
						            </p>
			                  <div class="actions">
						              <a title="wind deg {{weather.daily.4.wind_deg}}&deg;"><i style="top: 5px;" class="info-user wi wi-wind towards-{{ weather.daily.4.wind_deg }}-deg mr-2"></i></a>
                          <a title="sunrise {{timestamp_to_date(weather.daily.4.sunrise)}}"><i class="info-user far fa-sun mr-1"></i></a>
			                    <a title="sunset {{timestamp_to_date(weather.daily.4.sunset)}}"><i class="info-user far fa-moon mr-1"></i></a>
			                    <a title="uvi {{weather.daily.4.uvi}}"><i class="info-user far fa-lightbulb"></i></a>
			                  </div>
                      </li>
					            <li>
			                  <i class="unread"></i>
						            <i class="info-user my-2 p-0 ml-2 wi wi-owm-{{ weather.daily.5.weather.0.id }} text-warning" style="position: absolute; top: 0px;"></i>
						            <p class="sender"><small>{{ timestamp_to_date(weather.daily.5.dt) }} <span class="text-warning">( {{ weather.daily.5.weather.0.main }} )</span></small></p>
						            <p class="message">
						              <b>Temp</b> <span class="forecast">{{ weather.daily.5.temp.day }}</span> &deg;C feels <span class="forecast">{{ weather.daily.5.feels_like.day }}</span> &deg;C <b>M/m</b> <small><span class="forecast">{{ weather.daily.5.temp.max }}</span> / <span class="forecast">{{ weather.daily.5.temp.min }} &deg;C</span></small><br>
						              <b>P</b> <span class="forecast">{{ weather.daily.5.pressure }}</span> hPa | <b>Humidity</b> <span class="forecast">{{ weather.daily.5.humidity }}</span> % | <b>Wind</b> <span class="forecast">{{ weather.daily.5.wind_speed }}</span> m/s<br>
						              <b>Forecast</b> <span class="text-warning">{{ weather.daily.5.weather.0.description }}</span><br>
						              {% if weather.daily.5.rain %}<b>Rain</b> <span class="forecast">{{ weather.daily.5.rain }}</span> mm/h | {% endif %}<b>Clouds</b> <span class="forecast">{{ weather.daily.5.clouds }}</span> %
						            </p>
			                  <div class="actions">
						              <a title="wind deg {{weather.daily.5.wind_deg}}&deg;"><i style="top: 5px;" class="info-user wi wi-wind towards-{{ weather.daily.5.wind_deg }}-deg mr-2"></i></a>
                          <a title="sunrise {{timestamp_to_date(weather.daily.5.sunrise)}}"><i class="info-user far fa-sun mr-1"></i></a>
			                    <a title="sunset {{timestamp_to_date(weather.daily.5.sunset)}}"><i class="info-user far fa-moon mr-1"></i></a>
			                    <a title="uvi {{weather.daily.5.uvi}}"><i class="info-user far fa-lightbulb"></i></a>
			                  </div>
                      </li>
			              </ul>
    			        </div>
			          </div>
				        <p class="mb-1 pb-0 mr-1" style="position: absolute; bottom: 0px; right: 0px;">&copy; PibiCo 2020</p> 
		          </div><!-- /dash-unit -->
			      </div>
		      </div>
		            
        </div>
        {% endif %}
      </div>
    </main>
  </div>
  <script>
  function get_chart(value) {
    var jsonData = [value]
    for(var i in jsonData){
      var key = i;
      var val = jsonData[i];
      for(var j in val){
        var sub_key = j;
        if (j === "sensor") {
          var sensor = val[j];
        } else if (j === "label") {
          var labels = val[j];
        } else if (j === "dataset") {
          var datasets = val[j];
        } else if (j === "average") {
          var saverage = val[j];
        } else if (j === "min") {
          var smin = val[j];
        } else if (j === "max") {
          var smax = val[j];
        }
      }
    };
    if (sensor.indexOf('cpu-') > -1) {
      const data = {
	      labels: labels,
	      datasets: [
          {
            name: datasets[0]['main_read'],
            chartType: 'line',
            values: datasets[0]['values'],  
          },
          {
            name: datasets[1]['second_read'],
            chartType: 'line',
            values: datasets[1]['values'],  
          },
          {
            name: datasets[2]['third_read'],
            chartType: 'line',
            values: datasets[2]['values'],  
          },
        ],
        yMarkers: [
          {
            label: 'Average T',
            value: saverage,
            options: { labelPos: 'left' } // default: 'right'
          }
        ],
        yRegions: [
          {
            label: "Min-Max T Area",
            start: smin,
            end: smax,
            options: { labelPos: 'right' }
          }
        ],
	    };
      const cpu_chart = new frappe.Chart( '#cpu_chart', {
        data: data,   
        title: sensor,
	      type: 'axis-mixed', // or 'bar', 'line', 'pie', 'percentage'
	      height: 270,
	      colors: ['blue', 'red', 'green'],
	      tooltipOptions: {
		      formatTooltipX: d => (d + '').toUpperCase(),
		      formatTooltipY: d => d,
	      },
        is_series: 1,
        lineOptions: {
          hideDots: 1, // default: 0
        },
      });  
    };    
  };
  
  //Function for defining the dataTable
  var oTable = $('#sensors').dataTable({
    select: {
      style: 'os',
      items: 'row'
    },
    jQueryUI: true,
    responsive: true,
    dom: '<"top"if>rt<"bottom"p><"clear">',
    //dom: '<"bottom"f>rtip<"clear">',
    //dom: 'B<"bottom"f>rtip<"clear">',
    pageLength: 5,
    buttons: [
      //'copyHtml5',
      {extend: 'excelHtml5', text: 'xls', className: 'btn btn-primary btn-xs'},
      {extend: 'csvHtml5', text: 'csv', className: 'btn btn-info btn-xs'},
      { extend: 'pdfHtml5', text: 'pdf', orientation: 'landscape', className: 'btn btn-warning btn-xs'},    
      { extend: 'print', text: '<i class="fa fa-print"></i>', className: 'btn btn-danger btn-xs' }
    ]
  });
  //Function for Filter button config 
  $('.dataTables_filter input[type="search"]').css({
    'width':'150px',
    'display':'inline-block',
    'color':'#1f1f1',
    'background': 'white',
    'border':'1px solid #4682b4',
    'height':'auto',
    'font-size': '10pt',
    'padding': '1px 1px',
    'margin-right': '6px',
  });
  //Function on click Table Cell
  $('#sensors tbody').on('click', 'td', function (e) {
    e.preventDefault();
    // check cell column of selected cell //
    var rowIdx = oTable.api().cell( this ).index().row;
    var colIdx = oTable.api().cell( this ).index().column; // .api(). needed while using .dataTable. and not .DataTable. API //
    if ( colIdx > 1) {
      var rowPosition = oTable.fnGetPosition( this ); //row position of record in table
      var sensor = oTable.fnGetData(rowPosition,2);
      window.open("{{ frappe.get_url() }}:8080/desk#Form/Sensor/" + sensor, "_self")
    }
  });
  </script>
{% endblock %}