{# {% extends "templates/web.html" %} #}
{% include 'templates/page_sidebar.html' %}
{% block page_content %}
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid">
        <h1 class="mt-4">PibiFarma</h1>
        <div class="row">
          <div class="card-deck p-6">
            <div class="card">
              <h5>Reserved for PibiFarma</h5>
            </div> 
            <div class="card">
              <h5>Reserved for PibiFarma</h5>
            </div> 
            <div class="card">
              <h5>Reserved for PibiFarma</h5>
            </div>
          </div>      
        </div>
      </div>
    </main>
  </div>
{% endblock %}