{# {% extends "templates/web.html" %} #}
{% include 'templates/page_sidebar.html' %}
{% block page_content %}
  <style>
    .card, .dash-unit, .half-unit, .third-unit, .twothird-unit {
      border-radius: 9px;
    }
    .card {
      border: 2px solid #4284b6;
      background: #4682b481;
    }
    td {
      font-size: 10pt;
    }
    .card-header {
      font-size: 11pt;
      text-align: center;
    }
    /*@media (min-width: 34em) {
      .card-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
      }
    }*/
    @media (min-width: 48em) {
      .card-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
      }
    }
    @media (min-width: 62em) {
      .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
      }
    }
    @media (min-width: 75em) {
      .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
      }
    @media (min-width: 88em) {
      .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
      }   
    }
    table thead tr {
	    background:#353535;
	    height: 21px; 
    }
    table thead th {
	    border-right: 1px solid #ccc;
	    color: #b2c831;
	    font-size: 12px; 
    }
    table thead th:last-of-type { border-right: none; }
    table tbody {
	    border-top: 1px solid #bbb;
	    border-bottom: 1px solid #bbb;
    }
    table td { padding: 0; border-right: 1px solid #ccc;}
    table tbody tr:hover { background-color: #ddd; }
    #sensors_info.dataTables_info {
      padding-top: 0;
    }
    .btn {
      padding: 2px;
      margin-left: 2px;
      min-width: 30px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
    }
    .page-link, .page-item {
      padding: 1px 1px;
      margin: 1px;
    }
    .bottom {
      margin-top: 0px;
    }
    .sorting_1 {
      color: #4682b4;
    }
    p .third-unit {
      font-size: 8pt;
      font-weight: 90;
    }
  </style>
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid">
        {% if frappe.session.user != 'Guest' %}
        <h1 class="mt-4 text-white">{{ name }}</h1>
        {% if frappe.session.user != 'Administrator' %}
          <small class="text-white">{{ timestamp_to_date(weather.current.dt) }}</small>
        {% endif %}
        <div class="row">
          <div class="col-lg-3 col-md-3 p-2 m-0 mb-1">
            <div class="card mb-2">
              <div class="third-unit">
      		      <dtitle>CPUs</dtitle>
      		      <hr>
			          <div class="cont info-user p-0 m-0">
                  <a href="{{ frappe.get_url() }}:8080/desk#List/Sensor?sensor_group={{ name }}" target="-blank"><span aria-hidden="true" class="li_settings fs1 mb-0 pb-0"></span></a>
			            <p><bold style="font-size: 36px;">{{ sensor_doc | selectattr('disabled', 'equalto', 0) | list | length }}</bold> <ok>on</ok> |
					        <bold style="font-size: 36px;">{{ sensor_doc | selectattr('disabled', 'equalto', 1) | list | length }}</bold> <bad>off</bad></p>                
			          </div>
                <p class="mb-1 pb-0 mr-1" style="position: absolute; bottom: 0px; right: 0px;">CPU Positions</p>                
              </div>
            </div>
            <div class="card mb-2">
              <div class="third-unit">
      		      <dtitle>Clients</dtitle>
      		      <hr>
			          <div class="cont info-user p-0 m-0">                                 
                  <a href="{{ frappe.get_url() }}:8080/desk#List/Client" target="_blank"><span aria-hidden="true" class="li_user fs1"></span></a>                            
                  <p><bold style="font-size: 36px;">{{ sensor_doc | map(attribute='client') | unique | list | length }}</bold> <ok>clients</ok></p>                
			          </div>
                <p class="mb-1 pb-0 mr-1" style="position: absolute; bottom: 0px; right: 0px;">Clients Accessible</p>                
              </div>
            </div>
            <div class="card mb-1">
              <div class="third-unit">
      		      <dtitle>Data Logs</dtitle>
      		      <hr>
			          <div class="cont info-user p-0 m-0">
                  <a href="{{ frappe.get_url() }}:8080/desk#List/Sensor Log/" target="_blank"><span aria-hidden="true" class="li_data fs1"></span></a>             
                  <p><bold>{{ sensor_logs | sum('points') }}</bold> <ok>meas</ok></p>                
			          </div>
                <p class="mb-1 pb-0 mr-1" style="position: absolute; bottom: 0px; right: 0px;">Logs from 00:00</p>                
              </div>
            </div>
          </div>
          <div class="col-lg-9 col-md-9 p-2 m-0 mb-1">
            <div class="card mb-2">
              <div class="twothird-unit">
                <dtitle>Data</dtitle>
	              <hr class="mb-2">
                <table id="sensors" class="display compact cell-border responsive nowrap text-white" width="100%" cellspacing="0" style="font-size: 10pt;">
                  <thead>
                    <tr>
                      <th>pos</th>
                      <th>sensor</th>
                      <th>lan</th>
                      <th>cpu</th>
                      <th>mem</th>
                      <th>mem%</th>
                      <th>disk</th>
                      <th>disk%</th>
                      <th>uptime</th>
                      <th>lastseen</th>
                      <th>wan</th>
                      <th>boots</th>
                      <th>client</th>
                    </tr>
                  </thead>
                  <tbody>  
                  {% for log in sensor_logs %}
                    {% set item_count = log.log_item | length -1 %}
                    {% set strpay = json.loads(log.log_item[item_count].payload) %}
                    <tr>
                      <td style="color: #b2c831;"><small>{{ log.log_item[item_count].idx }}</small></td>
                      <td>{{ log.sensor }}</td>
                      <td>{{ strpay['ipnet'] }}</td>
                      <td>{{ '%0.1f'| format(log.log_item[item_count].value | float)  }} <small>{{ log.log_item[item_count].uom }}</small></td>
                      <td>{{ strpay.payload.mem.mem_total }}</td>
                      <td>{{ strpay.payload.mem.mem_pct }} <small>%</small></td>
                      <td>{{ strpay.payload.disk.disk_total }}</td>
                      <td>{{ strpay.payload.disk.disk_pct }} <small>%</small></td>
                      <td>{{ strpay.payload.uptime }}</td>
                      <td>{{ strpay.payload.datadate }}</td>
                      <td>{{ strpay.payload.ip_public }}</td>
                      <td>{{ strpay.payload.n_reboots }}</td>
                      <td>{{ strpay.payload.client }}</td>  
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
                <p class="mb-1 pb-0 mr-1" style="position: absolute; bottom: 0px; right: 0px;">&copy; PibiCo 2020</p>  
              </div>
            </div>
            <div class="card mb-1">
              <div class="third-unit">
                <dtitle>Daily Alerts</dtitle>
	      		    <hr>
                <div class="info-user">
					        <p><bold style="font-size: 36px;">{{ alert_logs | length }}</bold> <bad style="font-size: 9pt;">alerts</bad></p>
                </div>                           
                <div class="accordion" id="alert_log">
                  {% for val in alert_logs %}
                  {% set idx = val.alert_item | length - 1 %}
                  <div class="accordion-group">
                    <div class="accordion-heading">
                      <a class="accordion-toggle m-2" data-toggle="collapse" data-parent="#alert_log" href="#collapse{{ loop.index }}">
                         
                       {% if val.alert_item[idx].to_time == None %}
                         <bad><span aria-hidden="true" class="li_eye"></span><bad> <small>Active</small>
                       {% else %}
                         <ok><span aria-hidden="true" class="li_lock"></span></ok> <small>Closed</small> 
                       {% endif %}
                       {{ val.name }}
                      <a>
                    </div>
                    <div id="collapse{{ loop.index }}" class="accordion-body collapse in">
                      <div class="accordion-inner">
                      {% if val.alert_item[idx].to_time == None %}
                         <a href="{{ frappe.get_url() }}:8080/desk#List/Alert Log?name={{val.name}}" target="_blank">Alert</a> <small>{{val.alert_item[idx].variable}} @{{val.alert_item[idx].value}}</small> from <strong>{{ frappe.format(val.alert_item[idx].from_time, {'fieldtype': 'Time'})}}</strong>
                      {% else %}
                         <a href="{{ frappe.get_url() }}:8080/desk#List/Alert Log?name={{val.name}}" target="_blank">Alert</a> <small>{{val.alert_item[idx].variable}}</small> at <strong>{{ frappe.format(val.alert_item[idx].to_time, {'fieldtype': 'Time'})}}</strong>
                      {% endif %}  
                      </div>   
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>  
            </div>
          </div>
          {% set usr = frappe.session.user %}
          {% if usr != 'Administrator' %}
          <div class="col-lg-5 col-md-4 p-2 m-0 mb-1">
            <div class="card mb-2">
			        <div class="half-unit">
	      		    <dtitle>Current Weather</dtitle>
	      		    <hr>
	      		    <div class="info-user">
					        <span aria-hidden="true" class="li_cloud fs1"></span>
				        </div>
	      		    <div class="cont">
	      			    <p>For weather info</p>
	      		    </div>
			        </div>
		        </div>
            <div class="card mb-1">
			        <div class="half-unit">
	      		    <dtitle>Weather</dtitle>
	      		    <hr>
	      		    <div class="info-user">
					        <span aria-hidden="true" class="li_bubble fs1"></span>
				        </div>
	      		    <div class="cont">
	      			    <p>For weather info</p>
	      		    </div>
			        </div>
		        </div>        
          </div>
          <div class="col-lg-7 col-md-8 p-2 m-0 mb-1">
            <div class="card mb-2">
				      <div class="half-unit">
	      		    <dtitle>Forecast Weather</dtitle>
	      		    <hr>
                <div class="info-user">
					        <span aria-hidden="true" class="li_world fs1"></span>
				        </div>
                <div class="cont">
	      			    <p>For weather forecast</p>
	      		    </div>                     
              </div>
			      </div>
            <div class="card mb-1">
			        <div class="half-unit">
	      		    <dtitle>Weather Alerts</dtitle>
	      		    <hr>
	      	      <div class="cont">
                  <ul>
                  {% if weather %}
	      			    {% for alert in weather.alerts %}
                    {% if alert.start %}
                    <li>{{ alert.event }} from {{ timestamp_to_date(alert.start) }} to {{ timestamp_to_date(alert.end) }}</li>                
                    {% endif %} 
                  {% endfor %}
                  {% endif %}
                  </ul>
	      		    </div>
	      		  </div>
		        </div>            
          </div>
          {% else %}
          <div class="col-lg-12 col-md-12 p-2 m-0 mb-1">
            <div class="card mb-1">
              <div class="third-unit">
                <dtitle>Not Available</dtitle>
	      		    <hr>
                <div class="info-user">
					        <span aria-hidden="true" class="li_lock fs1"></span>
				        </div>
                <div class="cont">
                  <p>Space <strong>reserved</strong> for clients</p>
                  <p><bad>Not available</bad> for Administrator</p>    
	      		    </div>
              </div>                
            </div>
          </div>
          {% endif %}      
        </div>
        {% else %}
        <h1 class="mt-4 text-white">Please Login First!</h1>
        {% endif %}
      </div>
    </main>
  </div>
  <script>
      //Function for defining the dataTable
      var oTable = $('#sensors').dataTable({
        select: {
          style: 'os',
          items: 'row'
        },
        jQueryUI: true,
        responsive: true,
        dom: '<"top"if>rt<"bottom"p><"clear">',
        //dom: '<"bottom"f>rtip<"clear">',
        //dom: 'B<"bottom"f>rtip<"clear">',
        pageLength: 5,
        buttons: [
          //'copyHtml5',
          {extend: 'excelHtml5', text: 'xls', className: 'hide-for-mobile btn btn-primary btn-xs'},
          {extend: 'csvHtml5', text: 'csv', className: 'btn btn-info btn-xs hide-for-mobile'},
          { extend: 'pdfHtml5', text: 'pdf', orientation: 'landscape', className: 'btn btn-warning btn-xs hide-for-mobile'},    
          { extend: 'print', text: '<i class="fa fa-print"></i>', className: 'btn btn-danger btn-xs hide-for-mobile' }
        ]
      });
    
      //Function for Filter button config 
      $('.dataTables_filter input[type="search"]').css({
        'width':'150px',
        'display':'inline-block',
        'color':'#fafafa',
        'border':'1px solid #4682b4',
        'height':'auto',
        'font-size': '10pt',
        'padding': '1px 1px',
        'margin-right': '6px',
      });
      
      //Function on click Table Cell
      $('#sensors tbody').on('click', 'td', function (e) {
        e.preventDefault();
        // check cell column of selected cell //
        var rowIdx = oTable.api().cell( this ).index().row;
        var colIdx = oTable.api().cell( this ).index().column; // .api(). needed while using .dataTable. and not .DataTable. API //
               
        if ( colIdx > 0){
          var rowPosition = oTable.fnGetPosition( this ); //row position of record in table
          var sensor = oTable.fnGetData(rowPosition,1);
          
          window.open("{{ frappe.get_url() }}:8080/desk#List/Sensor Log?sensor="+sensor,"_self")
        }  
      
      });
      
    </script>
{% endblock %}