{# % extends "templates/web.html" % #}
{% include 'templates/page_sidebar.html' %}
{% block page_content %}
  <style>
    .card, .dash-unit, .half-unit, .third-unit, .twothird-unit {
      border-radius: 9px;
    }
    .card {
      border: 2px solid #85879669;
      background: #f8f9fc;
    }
    .card-header {
      font-size: 11pt;
      text-align: center;
    }
    .bottom {
      margin-top: 0px;
    }
    .video {
      position: absolute;
      top: 28px;
      left: 0;
      width: 100%;
      height: 100%;
    }
    /*.chart-container .graph-svg-tip {
      display: none;
    }*/
    .sensor-chart .chart-container ul {
      display: flex;
      font-size: 8pt;
      /*background: #202020;*/
      margin-bottom: 0;
      margin-left: 72px;
      margin-right: 54px;
      list-style-type: none;
      padding: 0;
      text-align: center;
      z-index: 10;
    }
    .sensor-chart .title  {
      fill: #c258f1;
      font-weight: 600;
    }
    .sensor-chart .legend-dataset-text, .sensor-chart g text {
      fill: #212121;
    }
    .sensor-chart .title {
      font-size: 9pt;
      margin-left: 69px;
    }
    .sensor-chart svg {
      position: absolute;
      top: 90px;
    }
  </style>
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid">
        {% if frappe.session.user != 'Guest' %}
        <h1 class="mt-4 text-primary" ><i class="info-user fa fa-medkit fs2"></i><b>{{ name }}</b>
        {% if customer %}<a title="Cloud" href="{{customer[0].cloud_gateway}}" target="_blank"><i class="info-user fas fa-cloud-download-alt mr-1"></i></a>{% endif %}
        </h1>
        <i class="info-user li_calendar fs1"></i><big>{{ timestamp_to_date(weather.current.dt) }}</big>
        <p>
          <small>
         
          </small>
        </p>
        {% set len = sensor_doc | length %}
        <div class="row">
          <!-- First Row -->
          <div class="col-lg-6 col-md-6 m-0 p-0 mb-2">
            <div class="card mr-1">
              <div class="
                {% if len <= 1 %}third-unit{% elif len == 2%}half-unit{% elif 2 < len <= 4 %}twothird-unit{% elif len > 4 %}dash-unit{% endif %}
                ">
                <dtitle>Freezers</dtitle>
      		      <hr class="pb-1 mb-0">
                <div class="framemail">
    			        <div class="window">
			              <ul class="pharma">
                    {% for log in sensor_logs %}
                    {% if 'temp-' in log.sensor %}
                      {% set len_fridge = log.log_item | length %}
                      {% if len_fridge > 0 %}
                      <li>
			                  <i class="unread"></i>
						            <a href="{{ frappe.get_url() }}:8080/desk#Form/Sensor Log/{{log.name}}"><i class="info-user far fa-snowflake my-2 p-0 ml-2 " style="position: absolute; top: 0px;"></i></a>
						            <p class="sender"><small><a href="{{ frappe.get_url() }}:8080/desk#Form/Sensor/{{log.sensor}}">{{ log.sensor }}</a></small></p>
						            <p class="message mt-1">
                          <b>Temperature</b> <span class="meas">{{ log.log_item[len_fridge-1].value }}</span> &deg;C
                          <br>
						              <!-- <del><b>Humidity</b> <span class="meas">na</span> %</del> -->
                          <br>
                          <span class="forecast">{{ log.log_item[len_fridge-1].datadate.strftime("%a, %d-%m-%Y %H:%M:%S") }}</span>
						            </p>
			                  <div class="actions">
                          <a href="{{ frappe.get_url() }}:8080/desk#Form/Sensor Log/{{log.name}}"><i class="info-user fas fa-chart-line mr-1"></i></a>                     
                          <a title="24h" href="{{ frappe.get_url() }}:8080/desk#List/Report?name=ToDo" target="_blank"><i class="info-user fas fa-calendar-day mr-1"></i></a>
                          <a title="7d" href="{{ frappe.get_url() }}:8080/desk#List/Report?name=ToDo" target="_blank"><i class="info-user fas fa-calendar-week mr-1" ></i></a>
			                    <a title="1m" href="{{ frappe.get_url() }}:8080/desk#List/Report?name=ToDo" target="_blank"><i class="info-user far fa-calendar"></i></a>
			                  </div>
                      </li>
                      {% endif %}
                    {% endif %}
                    {% endfor %}
                    </ul>
                  </div>
                </div>      
              </div>
            </div>  
          </div>        
          <div class="col-lg-6 col-md-6 m-0 p-0 mb-2">
            <div class="card mr-1">
              <div class="
                {% if len <= 1 %}third-unit{% elif len == 2%}half-unit{% elif 2 < len <= 4 %}twothird-unit{% elif len > 4 %}dash-unit{% endif %}
                ">
                <dtitle>Pharmacy</dtitle>
      		      <hr class="pb-1 mb-0">
                <div class="framemail">
    			        <div class="window">
			              <ul class="pharma">
                    {% for log in sensor_logs %}
                    {% if 'th-' in log.sensor %}
                      {% set len_pharma = log.log_item | length %}
                      {% if len_pharma > 0 %}
                      <li>
			                  <i class="unread"></i>
						            <a href="{{ frappe.get_url() }}:8080/desk#Form/Sensor Log/{{log.name}}"><i class="info-user fas fa-temperature-low my-2 p-0 ml-2 " style="position: absolute; top: 0px;"></i></a>
						            <p class="sender"><small><a href="{{ frappe.get_url() }}:8080/desk#Form/Sensor/{{log.sensor}}">{{ log.sensor }}</a></small></p>
						            <p class="message mt-1">
                          <b>Temperature</b> <span class="meas">{{ log.log_item[len_pharma-1].value }}</span> &deg;C
                          <br>
						              <b>Humidity</b> <span class="meas">{{ json.loads(log.log_item[len_pharma-1].payload).payload.reading.val_humid}}</span> %
                          <br>
                          <span class="forecast">{{ log.log_item[len_pharma-1].datadate.strftime("%a, %d-%m-%Y %H:%M:%S") }}</span>
						            </p>
			                  <div class="actions">
                          <div class="actions">
                          <a href="{{ frappe.get_url() }}:8080/desk#Form/Sensor Log/{{log.name}}"><i class="info-user fas fa-chart-line mr-1"></i></a>            
                          <a title="24h" href="{{ frappe.get_url() }}:8080/desk#List/Report?name=ToDo" target="_blank"><i class="info-user fas fa-calendar-day"></i></a>
                          <a title="7d" href="{{ frappe.get_url() }}:8080/desk#List/Report?name=ToDo" target="_blank"><i class="info-user fas fa-calendar-week mx-1" ></i></a>
                          <a title="1m" href="{{ frappe.get_url() }}:8080/desk#List/Report?name=ToDo" target="_blank"><i class="info-user far fa-calendar"></i></a>
			                  </div>
                      </li>
                      {% endif %}
                    {% endif %}
                    {% endfor %}
                    </ul>
                  </div>
                </div>      
              </div>
            </div>  
          </div>
          <!-- Second Row -->
          <div class="col-lg-6 col-md-6 m-0 p-0 mb-2">
            <div class="card mr-1 sensor-chart">
              <div class="twothird-unit">
                <dtitle>Fridge Chart</dtitle>
	      		    <hr class="m-0 p-0 mb-1">
                <div class="m-2 mb-0" id="fridge_chart"></div> 
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 m-0 p-0 mb-2">
            <div class="card mr-1 sensor-chart">
              <div class="twothird-unit">
                <dtitle>Lab Chart</dtitle>
	      		    <hr class="m-0 p-0 mb-1">                 
                <div class="m-2 mb-0" id="lab_chart"></div>                  
              </div>
            </div>
          </div>
          <div class="col-lg-7 col-md-7 m-0 p-0 mb-2">
            <div class="card mr-1 mb-2">
              <div class="twothird-unit">
      		      <dtitle>Daily Notifications</dtitle>
	      		    <hr>
                <div class="accordion" id="alert_log">
                  {% for val in alert_logs %}
                  {% set idx = val.alert_item | length - 1 %}
                  <div class="accordion-group">
                    <div class="accordion-heading">
                      <a class="accordion-toggle m-2" data-toggle="collapse" data-parent="#alert_log" href="#collapse{{ loop.index }}">
                         
                       {% if val.alert_item[idx].to_time == None %}
                         <span aria-hidden="true" class="li_eye text-danger"></span> <small class="text-danger">Active</small>
                       {% else %}
                         <span aria-hidden="true" class="li_lock text-success"></span> <small class="text-success">Closed</small> 
                       {% endif %}
                       {{ val.name }}
                      <a>
                    </div>
                    <div id="collapse{{ loop.index }}" class="accordion-body collapse in">
                      <div class="accordion-inner">
                      {% if val.alert_item[idx].to_time == None %}
                         <a href="{{ frappe.get_url() }}:8080/desk#List/Alert Log?name={{val.name}}" target="_blank">Alert</a> <small>{{val.alert_item[idx].variable}} @{{val.alert_item[idx].value}}</small> from <strong>{{ frappe.format(val.alert_item[idx].from_time, {'fieldtype': 'Time'})}}</strong>
                      {% else %}
                         <a href="{{ frappe.get_url() }}:8080/desk#List/Alert Log?name={{val.name}}" target="_blank">Alert</a> <small>{{val.alert_item[idx].variable}}</small> at <strong>{{ frappe.format(val.alert_item[idx].to_time, {'fieldtype': 'Time'})}}</strong>
                      {% endif %}  
                      </div>   
                    </div>
                  </div>
                  {% endfor %}
                </div>      
              </div>
            </div>
          </div>
          <div class="col-lg-5 col-md-5 p-0 m-0 mb-2">
            <div class="card mb-2">
	            <div class="twothird-unit">
	    		      <dtitle>Current Weather </dtitle>
	      		    <hr class="pb-1 mb-1">
				        <i class="wi wi-owm-{{weather.current.weather.0.id}} pull-right info-user mr-3" style="font-size: 54px;"></i>
				        <p class="ml-2">
                  <i class="info-user li_location"></i> {{ weather.lat }}<sub>lat</sub> {{ weather.lon }}<sub>lon</sub>
                  <br>
                  <i class="info-user li_clock"></i> {{ timestamp_to_date(weather.current.dt) }}
                </p>
                <div class="weather-text">
				          <p class="p-0 m-0 mr-2 pull-right">
				            <b class="text-warning">{{ weather.current.weather.0.description }}</b><br>
                    feels like {{ weather.current.feels_like }} &deg;C 	
				          </p>
				          <p class="p-2 m-0 ml-2">
				            <i class="info-user fa fa-thermometer"></i>
				            Temp {{ weather.current.temp }} &deg;C
					          <br>
				            <i class="info-user fa fa-tint"></i>
                    Humidity {{ weather.current.humidity }} %
				            <br>
					          <i class="info-user fas fa-weight"></i>
                    P<small>sea level</small>  {{ weather.current.pressure }} hPa
					          <br>
				            <i class="info-user far fa-sun"></i>
                    Sunrise {{ timestamp_to_date(weather.current.sunrise) }}
                    <br> 				  
				            <i class="info-user far fa-moon"></i>
                    Sunset {{ timestamp_to_date(weather.current.sunset) }}
                    <br>
				            <i class="info-user wi wi-wind towards-{{ weather.current.wind_deg }}-deg"></i>
					          Wind {{ weather.current.wind_speed }} m/s
					          <br>
					          <i class="info-user fas fa-cloud-sun"></i>
                    Clouds {{ weather.current.clouds }} %
                    <br>
					          {% if weather.current.rain %}
					          <i class="info-user fa fa-bath"></i>
                    Rain {{ weather.current.rain['1h'] }} mm/h
					          {% endif %}  
				          </p>
				          <br>
                </div>
			        </div> 
            </div>
          </div>
        </div> <!-- row -->
        {% else %}
        <h1 class="mt-4">Please Login First!</h1>
        {% endif %}
      </div> <!-- container -->
    </main>
  </div>
  <script>
    const fridge_chart = new frappe.Chart( '#fridge_chart', { // or DOM element
	    {% for chart in datasets %}
        {% if 'temp-' in chart.sensor %}
          {% set len = chart.dataset | length %}
          data: {
	          labels: {{ chart.label }},
	          datasets: [
              {
                name: '{{ chart.dataset[0].main_read }}',
                type: 'line',
                values: {{ chart.dataset[0]['values'] }},  
              }
            ],
            yMarkers: [
              {
                label: 'Average T',
                value: {{ chart.average }},
                options: { labelPos: 'left' } // default: 'right'
              }
            ],
            yRegions: [
              {
                label: "Min-Max T Area",
                start: {{ chart.min }},
                end: {{ chart.max }},
                options: { labelPos: 'right' }
              }
            ],
	        },
          title: '{{ chart.sensor }}',
	        type: 'axis-mixed', // or 'bar', 'line', 'pie', 'percentage'
	        height: 240,
	        colors: ['blue'],
        
	        tooltipOptions: {
		        formatTooltipX: d => (d + '').toUpperCase(),
		        formatTooltipY: d => d,
	        },
          is_series: 1,
        {% endif %}
      {% endfor %}
      });
  
    const lab_chart = new frappe.Chart( '#lab_chart', { // or DOM element
  	  {% for chart in datasets %}
        {% if 'th-' in chart.sensor %}
          {% set len = chart.dataset | length %}
          data: {
	          labels: {{ chart.label }},
	          datasets: [
              {
                name: '{{ chart.dataset[0].main_read }}',
                chartType: 'line',
                values: {{ chart.dataset[0]['values'] }},  
              },
              {
                name: '{{ chart.dataset[1].second_read }}',
                chartType: 'line',
                values: {{ chart.dataset[1]['values'] }},  
              },
            ],
            yMarkers: [
              {
                label: 'Average T',
                value: {{ chart.average }},
                options: { labelPos: 'left' } // default: 'right'
              }
            ],
            yRegions: [
              {
                label: "Min-Max T Area",
                start: {{ chart.min }},
                end: {{ chart.max }},
                options: { labelPos: 'right' }
              }
            ],
	        },
          title: '{{ chart.sensor }}',
	        type: 'axis-mixed', // or 'bar', 'line', 'pie', 'percentage'
	        height: 240,
	        colors: ['blue','red'],
        
	        tooltipOptions: {
		        formatTooltipX: d => (d + '').toUpperCase(),
		        formatTooltipY: d => d,
	        },
          is_series: 1,
        {% endif %}
      {% endfor %}
      });
 
    //setTimeout(function () {fridge_chart.refresh()}, 1);
    
  </script>
{% endblock %}