{# % extends "templates/web.html" % #}
{% include 'templates/page_sidebar.html' %}
{% block page_content %}
  <style>
    .card, .dash-unit, .half-unit, .third-unit, .twothird-unit {
      border-radius: 9px;
    }
    .card {
      border: 2px solid #4284b6;
      background: #4682b481;
    }
    .card-header {
      font-size: 11pt;
      text-align: center;
    }
    .bottom {
      margin-top: 0px;
    }
    .video {
      position: absolute;
      top: 28px;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .chart-container .graph-svg-tip {
      display: none;
    }
  </style>
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid">
        {% if frappe.session.user != 'Guest' %}
        <h1 class="mt-4 text-white"><i class="info-user fa fa-medkit fs2"></i>{{ name }}</h1>
        <i class="info-user li_calendar fs1"></i><big class="text-white">{{ timestamp_to_date(weather.current.dt) }}</big>
        <p class="text-white">{{ sensor_doc | length }}</p>
        {% set len = sensor_doc | length %}
        <div class="row">
          <!-- First Row -->
          <div class="col-lg-4 col-md-4 m-0 p-0 mb-2">
            <div class="card mr-1">
              <div class="
                {% if len == 0 or len == 1 %}third-unit{% elif len == 2%}half-unit{% elif len == 3 or len == 4 %}twothird-unit{% elif len > 4 %}dash-unit{% endif %}
                ">
                <dtitle>Freezers</dtitle>
      		      <hr class="pb-1 mb-0">
                <div class="framemail">
    			        <div class="window">
			              <ul class="pharma">
                                   
                      <li>
			                  <i class="unread"></i>
						            <i class="info-user far fa-snowflake my-2 p-0 ml-2 " style="position: absolute; top: 0px;"></i>
						            <p class="sender"><small>Sensor</small></p>
						            <p class="message mt-1">
                          <b>Temperature</b> <span class="meas">temp</span> &deg;C
                          <br>
						              <b>Humidity</b> <span class="meas">na</span> %
                          <br>
                          <span class="forecast">date</span>
						            </p>
			                  <div class="actions">
                          <a title="24h" href="{{ frappe.get_url() }}:8080/desk#List/Report?name=ToDo" target="_blank"><i class="info-user fas fa-calendar-day"></i></a>
                          <a title="7d" href="{{ frappe.get_url() }}:8080/desk#List/Report?name=ToDo" target="_blank"><i class="info-user fas fa-calendar-week mx-1" ></i></a>
			                    <a title="1m" href="{{ frappe.get_url() }}:8080/desk#List/Report?name=ToDo" target="_blank"><i class="info-user far fa-calendar"></i></a>
			                  </div>
                      </li>
                      
                    </ul>
                  </div>
                </div>      
              </div>
            </div>  
          </div>        
          <div class="col-lg-4 col-md-4 m-0 p-0 mb-2">
            <div class="card mr-1">
              <div class="
                {% if len == 0 or len == 1 %}third-unit{% elif len == 2%}half-unit{% elif len == 3 or len == 4 %}twothird-unit{% elif len > 4 %}dash-unit{% endif %}
                ">
                <dtitle>Pharmacy</dtitle>
      		      <hr class="pb-1 mb-0">
                <div class="framemail">
    			        <div class="window">
			              <ul class="pharma">
                                   
                      <li>
			                  <i class="unread"></i>
						            <i class="info-user fas fa-temperature-low my-2 p-0 ml-2 " style="position: absolute; top: 0px;"></i>
						            <p class="sender"><small>Sensor</small></p>
						            <p class="message mt-1">
                          <b>Temperature</b> <span class="meas">temp</span> &deg;C
                          <br>
						              <b>Humidity</b> <span class="meas">humid</span> %
                          <br>
                          <span class="forecast">date</span>
						            </p>
			                  <div class="actions">
                          <a title="24h" href="{{ frappe.get_url() }}:8080/desk#List/Report?name=ToDo" target="_blank"><i class="info-user fas fa-calendar-day"></i></a>
                          <a title="7d" href="{{ frappe.get_url() }}:8080/desk#List/Report?name=ToDo" target="_blank"><i class="info-user fas fa-calendar-week mx-1" ></i></a>
			                    <a title="1m" href="{{ frappe.get_url() }}:8080/desk#List/Report?name=ToDo" target="_blank"><i class="info-user far fa-calendar"></i></a>
			                  </div>
                      </li>
                      
                    </ul>
                  </div>
                </div>      
              </div>
            </div>  
          </div>
          <div class="col-lg-4 col-md-4 m-0 p-0 mb-2">
            <div class="card">
              <div class="
                {% if len == 0 or len == 1 %}third-unit{% elif len == 2%}half-unit{% elif len == 3 or len == 4 %}twothird-unit{% elif len > 4 %}dash-unit{% endif %}
                ">
      		      <dtitle>Daily Notifications</dtitle>
	      		    <hr>
                <div class="accordion" id="alert_log">
                  {% for val in alert_logs %}
                  {% set idx = val.alert_item | length - 1 %}
                  <div class="accordion-group">
                    <div class="accordion-heading">
                      <a class="accordion-toggle m-2" data-toggle="collapse" data-parent="#alert_log" href="#collapse{{ loop.index }}">
                         
                       {% if val.alert_item[idx].to_time == None %}
                         <bad><span aria-hidden="true" class="li_eye"></span><bad> <small>Active</small>
                       {% else %}
                         <ok><span aria-hidden="true" class="li_lock"></span></ok> <small>Closed</small> 
                       {% endif %}
                       {{ val.name }}
                      <a>
                    </div>
                    <div id="collapse{{ loop.index }}" class="accordion-body collapse in">
                      <div class="accordion-inner">
                      {% if val.alert_item[idx].to_time == None %}
                         <a href="{{ frappe.get_url() }}:8080/desk#List/Alert Log?name={{val.name}}" target="_blank">Alert</a> <small>{{val.alert_item[idx].variable}} @{{val.alert_item[idx].value}}</small> from <strong>{{ frappe.format(val.alert_item[idx].from_time, {'fieldtype': 'Time'})}}</strong>
                      {% else %}
                         <a href="{{ frappe.get_url() }}:8080/desk#List/Alert Log?name={{val.name}}" target="_blank">Alert</a> <small>{{val.alert_item[idx].variable}}</small> at <strong>{{ frappe.format(val.alert_item[idx].to_time, {'fieldtype': 'Time'})}}</strong>
                      {% endif %}  
                      </div>   
                    </div>
                  </div>
                  {% endfor %}
                </div>      
              </div>
            </div>
          </div>
          <!-- Second Row -->
          <div class="col-lg-4 col-md-4 m-0 p-0 mb-2">
            <div class="card mr-1">
              <div class="dash-unit">
                <dtitle>Fridge Charts</dtitle>
	      		    <hr class="m-0 p-0 mb-1">
                <div class="bg-light m-2 mb-0" id="fridge_chart" style="border-radius: 9px; border: 3px solid #4682b481;"></div> 
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 m-0 p-0 mb-2">
            <div class="card mr-1">
              <div class="dash-unit">
                <dtitle>Lab Charts</dtitle>
	      		    <hr class="m-0 p-0 mb-1">
                <div class="bg-dark m-2 mb-0" id="lab_chart"  style="border-radius: 9px; border: 3px solid #4682b481;"></div>                  
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 p-0 m-0 mb-2">
            <div class="card mb-2">
	            <div class="dash-unit">
	    		      <dtitle>Current Weather</dtitle>
	      		    <hr class="pb-1 mb-1">
				        <i class="wi wi-owm-{{weather.current.weather.0.id}} pull-right info-user mr-3" style="font-size: 54px;"></i>
				        <p class="ml-2">
                  <i class="info-user li_location"></i> {{ weather.lat }}<sub>lat</sub> {{ weather.lon }}<sub>lon</sub>
                  <br>
                  <i class="info-user li_clock"></i> {{ timestamp_to_date(weather.current.dt) }}
                </p>
                <div class="weather-text">
				          <p class="p-0 m-0 mr-2 pull-right">
				            <b class="text-warning">{{ weather.current.weather.0.description }}</b><br>
                    feels like {{ weather.current.feels_like }} &deg;C 	
				          </p>
				          <p class="p-2 m-0 ml-2">
				            <i class="info-user fa fa-thermometer"></i>
				            Temp {{ weather.current.temp }} &deg;C
					          <br>
				            <i class="info-user fa fa-tint"></i>
                    Humidity {{ weather.current.humidity }} %
				            <br>
					          <i class="info-user fas fa-weight"></i>
                    P<small>sea level</small>  {{ weather.current.pressure }} hPa
					          <br>
				            <i class="info-user far fa-sun"></i>
                    Sunrise {{ timestamp_to_date(weather.current.sunrise) }}
                    <br> 				  
				            <i class="info-user far fa-moon"></i>
                    Sunset {{ timestamp_to_date(weather.current.sunset) }}
                    <br>
				            <i class="info-user wi wi-wind towards-{{ weather.current.wind_deg }}-deg"></i>
					          Wind {{ weather.current.wind_speed }} m/s
					          <br>
					          <i class="info-user fas fa-cloud-sun"></i>
                    Clouds {{ weather.current.clouds }} %
                    <br>
					          {% if weather.current.rain %}
					          <i class="info-user fa fa-bath"></i>
                    Rain {{ weather.current.rain['1h'] }} mm/h
					          {% endif %}  
				          </p>
				          <br>
                </div>
                {% if weather.alerts %} 				
				        <dtitle>Weather Alerts</dtitle>
				        <hr class="pb-1 mb-1">
				        <div class="accordion" id="weather_alert">
                  {% for alert in weather.alerts %}
                  <div class="accordion-group">
                    <div class="accordion-heading">
                      <a class="accordion-toggle m-2" data-toggle="collapse" data-parent="#weather_alert" href="#weather{{ loop.index }}">
                        <span aria-hidden="true" class="li_eye"></span>
                        {{ alert.event }}
                      </a>
                    </div>
                    <div id="weather{{ loop.index }}" class="accordion-body collapse in">
                      <div class="accordion-inner">
					              <p class="p-0 m-0 ml-2">
					                <small>By {{ alert.sender_name }}<br>
                           From {{ timestamp_to_date(alert.start) }} to {{ timestamp_to_date(alert.end) }}<br>
						               {{ alert.description }}
						              </small>
                        </p> 						 
                      </div>   
                    </div>
                  </div>
                  {% endfor %}
                </div>
				        {% else %}
				        <div class="cont">
				          <h6>No Weather Alert</h6>
				        </div>
				        {% endif %}
			        </div> 
            </div>
          </div>
        </div> <!-- row -->
        {% else %}
        <h1 class="mt-4 text-white">Please Login First!</h1>
        {% endif %}
      </div> <!-- container -->
    </main>
  </div>
  <script>
    const fridge_chart = new frappe.Chart( "#fridge_chart", { // or DOM element
	    data: {
	      labels: ["12am-3am", "3am-6am", "6am-9am", "9am-12pm",
		      "12pm-3pm", "3pm-6pm", "6pm-9pm", "9pm-12am"],
	      datasets: [
		      {
			      name: "Some Data", chartType: 'bar',
			      values: [25, 40, 30, 35, 8, 52, 17, -4]
		      },
		      {
			      name: "Another Set", chartType: 'bar',
			      values: [25, 50, -10, 15, 18, 32, 27, 14]
		      },
		      {
			      name: "Yet Another", chartType: 'line',
			      values: [15, 20, -3, -15, 58, 12, -17, 37]
		      }
	      ],
  	    yMarkers: [{label: "Marker", value: 70, options: { labelPos: 'left' } }],
	      yRegions: [{label: "Region", start: -10, end: 50, options: { labelPos: 'right' } }]
	    },
	    title: "Fridges Chart",
	    type: 'axis-mixed', // or 'bar', 'line', 'pie', 'percentage'
	    height: 300,
	    colors: ['purple', '#ffa3ef', 'light-blue'],
	    tooltipOptions: {
		    formatTooltipX: d => (d + '').toUpperCase(),
		    formatTooltipY: d => d + ' pts',
	    }
    });
    
    const data = {
    labels: ["12am-3am", "3am-6pm", "6am-9am", "9am-12am",
        "12pm-3pm", "3pm-6pm", "6pm-9pm", "9am-12am"
    ],
    datasets: [
        {
            name: "Some Data", type: "bar",
            values: [25, 40, 30, 35, 8, 52, 17, -4]
        },
        {
            name: "Another Set", type: "line",
            values: [25, 50, -10, 15, 18, 32, 27, 14]
        }
    ]
}

    const lab_chart = new frappe.Chart("#lab_chart", {  // or a DOM element,
                                            // new Chart() in case of ES6 module with above usage
    title: "Lab Chart",
    data: data,
    type: 'axis-mixed', // or 'bar', 'line', 'scatter', 'pie', 'percentage'
    height: 300,
    colors: ['#7cd6fd', '#743ee2']
})
    
    //setTimeout(function () {fridge_chart.refresh()}, 1);
  </script>
{% endblock %}